<div class="header">


<ul class="nav nav-pills pull-right">
		<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">About
    	<span class="caret"></span></a>
    	<ul class="dropdown-menu">
    		<li class="{{ page.purpose }}"><a href="/M2-Wisconsin-2018/purpose" title="Purpose">Purpose</a></li>
      		<li class="{{ page.projects }}"><a href="https://djbruce.github.io/M2-Wisconsin-2018/projects" title="Projects">Projects</a></li>
      		<li class="{{ page.participants }}"><a href="https://djbruce.github.io/M2-Wisconsin-2018/participants" title="Presentations">Participants</a></li>
    	</ul>
  		</li>
		<li class="{{ page.registration }}"><a href="https://djbruce.github.io/M2-Wisconsin-2018/registration" title="Registration">Registration</a></li>
		<li class="{{ page.local }}"><a href="https://djbruce.github.io/M2-Wisconsin-2018/local" title="Local Info">Local Info</a></li>
		<li class="{{ page.contact }}"><a href="https://djbruce.github.io/M2-Wisconsin-2018/contact" title="Contact">Contact</a></li>
	</ul>
	<h3 class="text-muted"><a href="https://djbruce.github.io/M2-Wisconsin-2018/">M2@UW</a></h3>
</div> <!-- /header -->